<div class="containerContent">
  <nav mat-tab-nav-bar>
    <span
      mat-tab-link
      routerLinkActive="router-active"
      [routerLink]="['importExcel']"
    >
      อัพโหลดไฟล์
    </span>
    <span
      mat-tab-link
      routerLinkActive="router-active"
      [routerLink]="['importStudent']"
    >
      เพิ่มข้อมูลนักศึกษา
    </span>
    <span
      mat-tab-link
      routerLinkActive="router-active"
      [routerLink]="['importBranch']"
    >
      เพิ่มข้อมูลสาขา
    </span>
  </nav>
  <router-outlet></router-outlet>
</div>
