@media (min-width: 576px) {
  #f1 {
    max-width: 800px;
  }
}
.bt {
  margin: 20px;
}
.selectRule {
  width: 48%;
  margin-right: 15px;
}
.formInput {
  padding-left: 1%;
  width: 70%;
  padding-top: 10px;
}
.example-full-width {
  width: 100%;
}
.timeInput {
  width: 100%;
}
.stdCode {
  width: 185px;
  margin-right: 15px;
}
.stdName {
  width: 250px;
  margin-right: 15px;
}
.stdRoom {
  width: 90px;
  margin-right: 15px;
}
.phone {
  width: 120px;
  margin-right: 15px;
}
.stdBranch {
  width: 360px;
  margin-right: 15px;
}
.mat-input-element:disabled {
  color: #000000;
}

.timeInput {
  margin-top: -9px;
}
mat-form-field {
  width: 160px;
}
.titleName {
  width: 90px;
  margin-right: 15px;
}
.stdfullname {
  width: 143px;
  margin-right: 15px;
}
.ngx-timepicker {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
  border-bottom: 1px solid #919191;
}
