<div class="containerContent">
  <button
    type="button"
    mat-raised-button
    color="primary"
    class="uload"
    (click)="fileInput.click()"
  >
    อัพโหลดไฟล์
  </button>
  <button
    mat-raised-button
    class="bt"
    color="primary"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    เพิ่มข้อมูลนักศึกษา
  </button>
  <input
    hidden
    (change)="onFileChange($event)"
    #fileInput
    type="file"
    id="file"
  />
  <table id="customers">
    <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{ val }}
      </td>
    </tr>
  </table>
</div>

<!-- Modal นักศึกษานอก -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          บัตรนักศึกษาหอพัก
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formStd_code">
        <div class="modal-body" align="center">
          <!-- content -->

          <div class="frame">
            <mat-form-field>
              <input
                matInput
                formControlName="std_code"
                placeholder="รหัสนักศึกษา"
              />
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;

            <mat-form-field class="selectRule">
              <mat-select
                formControlName="nameTitle"
                placeholder="คำนำหน้า"
                (selectionChange)="
                  getRoom(
                    this.formStd_code.value.nameTitle,
                    this.formStd_code.value.floor,
                    ''
                  )
                "
              >
                <mat-option *ngFor="let x of titleName" [value]="x">{{
                  x
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <input matInput formControlName="fname" placeholder="ชื่อจริง" />
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <input matInput formControlName="lname" placeholder="นามสกุล" />
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="selectRule">
              <mat-select
                formControlName="noLevel"
                placeholder="ระดับวุฒิการศึกษา"
              >
                <mat-option *ngFor="let x of levels" [value]="x.noLevel">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="selectRule">
              <mat-select
                formControlName="faculty_code"
                placeholder="คณะ"
                (selectionChange)="
                  getBranch(
                    this.formStd_code.value.faculty_code,
                    this.formStd_code.value.noLevel
                  )
                "
              >
                <mat-option
                  *ngFor="let x of Faculty"
                  [value]="x.faculty_code"
                  >{{ x.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="selectRule">
              <mat-select formControlName="branch_code" placeholder="สาขา">
                <mat-option *ngFor="let x of branch" [value]="x.branch_code">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <input
                matInput
                formControlName="groupStd"
                placeholder="กลุ่มเรียน"
              />
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="selectRule">
              <mat-select
                formControlName="floor"
                placeholder="ชั้น"
                (selectionChange)="
                  getRoom(
                    this.formStd_code.value.nameTitle,
                    this.formStd_code.value.floor,
                    ''
                  )
                "
              >
                <mat-option *ngFor="let x of floor" [value]="x.floor">{{
                  x.floor
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field class="selectRule">
              <mat-select formControlName="room_number" placeholder="ห้องพัก">
                <mat-option *ngFor="let x of room" [value]="x.room_number">{{
                  x.room_number
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
              <input
                matInput
                formControlName="phone"
                placeholder="เบอร์โทรศัพท์"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            id="closebutton"
            data-dismiss="modal"
          >
            ยกเลิก
          </button>
          <button type="button" class="btn btn-primary" (click)="setDataStd()">
            เพิ่มข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
