<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="{{ mode }}">
    <div class="logo">
      <img src="assets/LOGO1.png" height="100px" />
      <!-- <button
        (click)="logOut()"
        class="logout"
        #tooltip="matTooltip"
        matTooltip="ออกจากระบบ"
        [matTooltipPosition]="'below'"
        matTooltipHideDelay="0"
        type="button"
        mat-icon-button
      >
        <span class="material-icons">
          login
        </span>
      </button> -->
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['card_data']"
        (click)="attive(0, 'card_data')"
        [ngClass]="{
          selectItem: this.className[0] || pathname == 'card_data'
        }"
        ><i class="material-icons">
          contact_mail
        </i>
        &nbsp; สร้างบัตรหอพักนักศึกษา
      </a>
      <a
        mat-list-item
        [routerLink]="['room_history']"
        (click)="attive(1, 'room_history')"
        [ngClass]="{
          selectItem: this.className[1] || pathname == 'room_history'
        }"
        ><i class="material-icons">
          history_edu
        </i>
        &nbsp; ประวัติการย้ายห้องพัก
      </a>
      <a
        mat-list-item
        [routerLink]="['time_manage']"
        (click)="attive(2, 'time_manage')"
        [ngClass]="{
          selectItem: this.className[2] || pathname == 'time_manage'
        }"
        ><i class="material-icons"> alarm </i>&nbsp;
        จัดการระบบเช็คนักศึกษาเข้าหอพัก</a
      >
      <a
        mat-list-item
        [routerLink]="['time_stat']"
        (click)="attive(3, 'time_stat')"
        [ngClass]="{ selectItem: this.className[3] || pathname == 'time_stat' }"
        ><i class="material-icons"> assignment </i>&nbsp;
        สรุปผลการเข้าหอพักของนักศึกษา</a
      >
      <a
        mat-list-item
        [routerLink]="['rule_save']"
        (click)="attive(4, 'rule_save')"
        [ngClass]="{ selectItem: this.className[4] || pathname == 'rule_save' }"
        ><i class="material-icons"> block </i>&nbsp;
        บันทึกการกระทำผิดกฏระเบียบหอพัก</a
      >
      <a
        mat-list-item
        [routerLink]="['rule_stat']"
        (click)="attive(5, 'rule_stat')"
        [ngClass]="{ selectItem: this.className[5] || pathname == 'rule_stat' }"
        ><i class="material-icons"> assessment </i>&nbsp;
        สรุปผลการกระทำผิดกฏระเบียบหอพัก</a
      >
      <a
        mat-list-item
        [routerLink]="['data_import']"
        (click)="attive(6, 'data_import')"
        [ngClass]="{
          selectItem: this.className[6] || pathname == 'data_import'
        }"
        ><i class="material-icons"> backup </i>&nbsp;
        นำเข้าไฟล์ข้อมูลนักศึกษา</a
      >
      <a mat-list-item (click)="logOut()"
        ><span class="material-icons"> login </span>&nbsp; ออกจากระบบ</a
      >
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="head">
      <button
        class="menu"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="titleText"
        >ระบบตรวจสอบนักศึกษาและคัดกรองบุคคลเข้าหอพักนักศึกษา</span
      >
    </div>
    <div class="contentData">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
