$gray: rgb(247, 247, 247);

.mat-drawer-container {
  height: 100%;
}
.menu {
  border-radius: 8px;
  background: #ff5722;
  color: #ffffff;
}
.logout {
  border-radius: 8px;
  background-color: #fe6254;
  color: #ffffff;
  float: right;
  margin-right: 10px;
  margin-top: 29px;
}
.titleText {
  font-size: 18px;
  color: #302f2f;
  padding-top: 19px;
  padding-left: 10px;
}
.head {
  height: 100px;
  background-color: $gray;
  padding-top: 29px;
  padding-left: 10px;
  overflow: hidden;
  clear: both;
}
.logo {
  background-color: $gray;
  height: 100px;
}
.mat-list-base {
  padding-top: 0px;
}
.mat-nav-list .mat-list-item:focus {
  background-color: #ff5722;
  color: white;
}
// .mat-nav-list .mat-list-item:hover {
//   background-color: #bdbdbd;
//   opacity: 0.8;
//   color: white;
// }
.selectItem {
  background-color: #ff5722;
  color: white;
}
