.contain {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 1%;
}
.top {
  grid-column: span 12;
}
.main {
  grid-column: span 12;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.table td,
.table th {
  padding: 0.6rem;
  vertical-align: middle;
}
.table tr:nth-child(even) {
  background-color: #ffffff;
}
.table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.table tr:hover {
  background-color: #dfdfdf;
}

.example-full-width {
  width: 160px;
}
.sl {
  margin-right: 20px;
  float: left;
  width: 481px;
}
.btn {
  margin-left: 10px;
}
.btn:hover {
  opacity: 0.8;
}
.page {
  text-align: center;
}

.dateInput {
  width: 100px;
}
.selectLabel-mount {
  width: 134px;
}
.selectLabel-term {
  width: 85px;
}
.term {
  margin-top: 8px;
}
.selectType {
  margin-top: 10px;
}
.selectRule {
  margin-top: -10px;
}
