<div class="contain">
  <mat-card class="example-card start">
    <mat-card-header>
      <mat-card-title>เวลาเข้าสาย</mat-card-title>
      <mat-card-subtitle>เริ่ม</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="iconAlarm">
        <span class="material-icons alarm">
          alarm
        </span>
      </p>
      <p>
        <ngb-timepicker
          [(ngModel)]="timeStart"
          [disabled]="disableTime.start"
        ></ngb-timepicker>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="!disableBtn.start"
        type="button"
        class="btn btn-warning edit"
        (click)="editTime('start')"
      >
        แก้ไข
      </button>
      <button
        *ngIf="disableBtn.start"
        type="button"
        class="btn btn-warning save"
        (click)="setTimeStart()"
      >
        บันทึก
      </button>
      <button
        *ngIf="disableBtn.start"
        type="button"
        class="btn btn-warning cansel"
        (click)="canseltimeSet('start')"
      >
        ยกเลิก
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card end">
    <mat-card-header>
      <mat-card-title>เวลาเข้าสาย</mat-card-title>
      <mat-card-subtitle>สิ้นสุด</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="iconAlarm">
        <span class="material-icons alarm">
          alarm
        </span>
      </p>
      <p>
        <ngb-timepicker
          [(ngModel)]="timeEnd"
          [disabled]="disableTime.end"
        ></ngb-timepicker>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="!disableBtn.end"
        type="button"
        class="btn btn-warning edit"
        (click)="editTime('end')"
      >
        แก้ไข
      </button>
      <button
        *ngIf="disableBtn.end"
        type="button"
        class="btn btn-warning save"
        (click)="setTimeEnd()"
      >
        บันทึก
      </button>
      <button
        *ngIf="disableBtn.end"
        type="button"
        class="btn btn-warning cansel"
        (click)="canseltimeSet('end')"
      >
        ยกเลิก
      </button>
    </mat-card-actions>
  </mat-card>
</div>
