.contain {
  margin: 1%;
  content: "";
  clear: both;
  display: table;
}
.start {
  width: 450px;
  float: left; //ลอยไปอยู่ด้ายซ้าย
  margin-right: 80px;
  margin-top: 20px;
}
.end {
  margin-top: 20px;
  width: 450px;
  float: left; //ลอยไปอยู่ด้ายซ้าย
}
.iconAlarm {
  float: left;
  margin-right: 40%;
}
.alarm {
  font-size: 110px;
}
.edit {
  background-color: #fdc92d;
  float: right;
  color: #ffffff;
}
