.bt {
  margin: 20px;
}
.selectRule {
  width: 48%;
  margin-right: 15px;
}
.formInput {
  padding-left: 1%;
  width: 60%;
  padding-top: 10px;
}
.example-full-width {
  width: 100%;
}
.timeInput {
  width: 100%;
}
.per30 {
  width: 29%;
  margin-right: 1%;
}
.per28 {
  width: 27%;
  margin-right: 1%;
}
.per50 {
  width: 49%;
  margin-right: 1%;
}
.per20 {
  width: 19%;
  margin-right: 1%;
}
.per15 {
  width: 15%;
  margin-right: 1%;
}
.stdName {
  width: 250px;
  margin-right: 15px;
}
.stdRoom {
  width: 90px;
  margin-right: 15px;
}
.stdFaculty {
  width: 380px;
  margin-right: 15px;
}
.stdBranch {
  width: 360px;
  margin-right: 15px;
}
.mat-input-element:disabled {
  color: #000000;
}
.timeInput {
  margin-top: -9px;
}

.dateTime {
  width: 49%;
}
.phone {
  width: 120px;
  margin-right: 15px;
}
mat-form-field {
  width: 99%;
}
.titleName {
  width: 90px;
  margin-right: 15px;
}
.stdfullname {
  width: 143px;
  margin-right: 15px;
}
.ngx-timepicker {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  border-bottom: 1px solid #919191;
}
@media only screen and (max-device-width: 1280px) {
  .formInput {
    width: 100%;
    text-align: center;
  }
  .per30 {
    width: 98%;
    margin-right: 1%;
  }
  .per28 {
    width: 98%;
    margin-right: 1%;
  }
  .per50 {
    width: 98%;
    margin-right: 1%;
  }
  .per20 {
    width: 98%;
    margin-right: 1%;
  }
  .per15 {
    width: 98%;
    margin-right: 1%;
  }
  .dateTime {
    width: 100%;
  }
  mat-form-field {
    width: 99%;
  }
  .ngx-timepicker {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 0px;
    border-bottom: 1px solid #919191;
  }
}
