<!-- //// -->
<div class="contain">
  <div class="top">
    <section class="example-section">
      <input
        class="form-control form-control-sm ml-3 w-25"
        type="text"
        [formControl]="keyStd"
        placeholder="Search"
        aria-label="Search"
        (keyup)="searchStd()"
        mdbInput
      />
      <button
        class="btn"
        data-toggle="modal"
        data-target="#ModalSearch"
        mat-flat-button
        color="primary"
        (click)="advancedSearch()"
      >
        ค้นหาแบบละเอียด
      </button>
      <button
        class="btn"
        mat-flat-button
        color="primary"
        [routerLink]="['/gencard']"
        (click)="gennarateCard()"
      >
        สร้างบัตรนักศึกษาหอพัก
      </button>
    </section>
  </div>
  <div class="main">
    <div class="spinner" *ngIf="checkConnect == false">
      <mat-spinner [strokeWidth]="5" [diameter]="50"></mat-spinner>
    </div>
    <table class="table" *ngIf="checkConnect == true">
      <thead class="thead-dark">
        <tr>
          <th scope="col">
            <span (click)="sortTable('room_number')">เลขห้อง</span>
          </th>
          <th scope="col">
            <span (click)="sortTable('std_code')">รหัสนักศึกษา</span>
          </th>
          <th scope="col">
            <span (click)="sortTable('nameStd')">ชื่อ - สกุล</span>
          </th>
          <th scope="col"><span (click)="sortTable('faculty')">คณะ</span></th>
          <th scope="col">
            <span (click)="sortTable('branch')">สาขา</span>
          </th>
          <th scope="col">
            <span (click)="sortTable('groubStudent')">กลุ่มเรียน</span>
          </th>
          <th scope="col">
            <span (click)="sortTable('level')">ระดับวุฒิการศึกษา</span>
          </th>
          <th scope="col">เบอร์โทร</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody *ngIf="userData != null">
        <tr
          *ngFor="
            let x of userData | paginate: { itemsPerPage: 12, currentPage: p }
          "
        >
          <td>{{ x.room_number }}</td>
          <td>{{ x.std_code }}</td>
          <td>{{ x.nameStd }}</td>
          <td>{{ x.faculty }}</td>
          <td>{{ x.branch }}</td>
          <td>{{ x.groubStudent }}</td>
          <td>{{ x.level }}</td>
          <td>{{ x.phone }}</td>
          <td>
            <!-- Button trigger modal -->

            <div class="btn-group">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                จัดการ
              </button>
              <div class="dropdown-menu">
                <button
                  class="dropdown-item create"
                  (click)="gennarateCardSigle(x)"
                  [routerLink]="['/gencard']"
                >
                  สร้างบัตร
                </button>
                <button
                  class="dropdown-item edit"
                  data-toggle="modal"
                  data-target="#ModalEdit"
                  (click)="getStdcodeEdit(x.std_code); editData()"
                >
                  แก้ไข
                </button>
                <button
                  class="dropdown-item del"
                  (click)="deleteStudent(x.std_code)"
                >
                  ลบ
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      *ngIf="userData != null"
      class="page"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>

<!-- Modal แก้ไขข้แมูล-->
<div
  class="modal fade"
  id="ModalEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          แก้ไขข้อมูลนักศึกษา
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formStd_code">
        <div class="modal-body" align="center">
          <!-- content -->

          <div class="frame" *ngFor="let item of nameStudent">
            <span
              ><img
                *ngIf="item.nameTitle == 'นาย' || item.nameTitle == 'MR.'"
                class="img"
                src="https://www.seosogood.com/wp-content/uploads/avatar-2.png"
                alt="" />
              <img
                *ngIf="
                  item.nameTitle == 'นางสาว' ||
                  item.nameTitle == 'นาง' ||
                  item.nameTitle == 'MISS.' ||
                  item.nameTitle == 'MRS.'
                "
                class="img"
                src="https://www.seosogood.com/wp-content/uploads/avatar-6.png"
                alt=""
            /></span>
            <div class="form-group">
              <label for="exampleFormControlFile1">รูปโปรไฟล์</label>
              <input
                type="file"
                class="form-control-file"
                id="exampleFormControlFile1"
                mat-flat-button
              />
            </div>

            <mat-form-field class="lenght">
              <input
                matInput
                disabled
                formControlName="std_code"
                placeholder="รหัสนักศึกษา"
                value="{{ item.std_code }}"
              />
            </mat-form-field>

            <mat-form-field class="lenght">
              <mat-select
                formControlName="nameTitle"
                placeholder="คำนำหน้า"
                (selectionChange)="
                  getRoom(
                    this.formStd_code.value.nameTitle,
                    this.formStd_code.value.floor,
                    this.formStd_code.value.std_code
                  )
                "
              >
                <mat-option *ngFor="let x of titleName" [value]="x">{{
                  x
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="lenght">
              <input
                matInput
                formControlName="fname"
                value="{{ item.fname }}"
                placeholder="ชื่อจริง"
              />
            </mat-form-field>

            <mat-form-field class="lenght">
              <input
                matInput
                formControlName="lname"
                value="{{ item.lname }}"
                placeholder="นามสกุล"
              />
            </mat-form-field>

            <mat-form-field class="lenght">
              <mat-select
                formControlName="noLevel"
                placeholder="ระดับวุฒิการศึกษา"
              >
                <mat-option *ngFor="let x of levels" [value]="x.noLevel">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="lenght">
              <mat-select
                formControlName="faculty_code"
                placeholder="คณะ"
                (selectionChange)="
                  getBranch(
                    this.formStd_code.value.faculty_code,
                    this.formStd_code.value.noLevel
                  )
                "
              >
                <mat-option
                  *ngFor="let x of Faculty"
                  [value]="x.faculty_code"
                  >{{ x.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <mat-form-field class="lenght">
              <mat-select formControlName="branch_code" placeholder="สาขา">
                <mat-option *ngFor="let x of branch" [value]="x.branch_code">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="lenght">
              <input
                matInput
                formControlName="groupStd"
                placeholder="กลุ่มเรียน"
              />
            </mat-form-field>

            <mat-form-field class="lenght-floor">
              <mat-select
                formControlName="floor"
                placeholder="ชั้น"
                #foor
                (selectionChange)="
                  getRoom(
                    this.formStd_code.value.nameTitle,
                    this.formStd_code.value.floor,
                    this.formStd_code.value.std_code
                  )
                "
              >
                <mat-option *ngFor="let x of floor" [value]="x.floor">{{
                  x.floor
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="lenght-room">
              <mat-select
                [disabled]="this.formStd_code.controls['outRoom'].value"
                formControlName="room_number"
                placeholder="ห้องพัก"
              >
                <mat-option *ngFor="let x of room" [value]="x.room_number">{{
                  x.room_number
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox class="out" formControlName="outRoom"
              >ย้ายออกจากหอพัก</mat-checkbox
            ><br />
            <mat-form-field class="phone">
              <input
                matInput
                formControlName="phone"
                placeholder="เบอร์โทรศัพท์"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="closebutton"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            ยกเลิก
          </button>
          <button type="button" class="btn btn-primary" (click)="editDataStd()">
            แก้ไขข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal ค้นหาแบบละเอียด-->
<div
  class="modal fade"
  id="ModalSearch"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          ค้นหาแบบละเอียด
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formSearch">
        <div class="modal-body" align="center">
          <!-- content -->

          <div>
            <mat-checkbox class="example-margin">หอพักชาย</mat-checkbox>
            <mat-checkbox class="example-margin">หอพักหญิง</mat-checkbox>
            <br />
            <mat-form-field class="selectRule">
              <mat-select formControlName="floor" placeholder="ชั้น" #foor>
                <mat-option *ngFor="let x of floor" [value]="x.floor">{{
                  x.floor
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="selectRule">
              <mat-select
                formControlName="noLevel"
                placeholder="ระดับวุฒิการศึกษา"
                (selectionChange)="getFaculty()"
              >
                <mat-option *ngFor="let x of levels" [value]="x.noLevel">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="selectRule">
              <mat-select
                formControlName="faculty_code"
                placeholder="คณะ"
                (selectionChange)="
                  getBranch(
                    this.formStd_code.value.faculty_code,
                    this.formStd_code.value.noLevel
                  )
                "
              >
                <mat-option
                  *ngFor="let x of Faculty"
                  [value]="x.faculty_code"
                  >{{ x.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="selectRule">
              <mat-select formControlName="branch_code" placeholder="สาขา">
                <mat-option *ngFor="let x of branch" [value]="x.branch_code">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field>
              <mat-label>กลุ่มเรียน</mat-label>
              <input
                matInput
                formControlName="groupStd"
                placeholder="เช่น AAA.62241"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            ยกเลิก
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="getAdvancedSearchData()"
          >
            ค้นหา
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
