<div id="page-container">
  <div id="content-wrap">
    <div class="host">
      <mat-card>
        <div style="justify-content: center; display: flex;">
          <img src="assets/logo.jpg" class="icon" alt="" />
        </div>
        <mat-card-title>ลงชื่อเข้าใช้งาน</mat-card-title>
        <mat-card-subtitle class="subtitle"
          >เว็บแอปพลิเคชันตรวจสอบและคัดกรองบุคคลเข้าหอพักนักศึกษา</mat-card-subtitle
        >
        <mat-card-content>
          <form
            class="formInput"
            [formGroup]="formLogin"
            (ngSubmit)="onSubmitLogin()"
          >
            <p class="inputField">
              <mat-form-field appearance="outline" color="accent" >
                <mat-label>ชื่อผู้ใช้งาน</mat-label>
                <input  type="text" formControlName="username" matInput placeholder="ชื่อผู้ใช้งาน">
              </mat-form-field>
              <!-- <mat-form-field class="inputUser">
                <input
                  type="text"
                  matInput
                  placeholder="ชื่อผู้ใช้"
                  
                />
              </mat-form-field> -->
            </p>

            <p class="inputField">
              <mat-form-field appearance="outline" color="accent">
                <mat-label>รหัสผ่าน</mat-label>
                <input  type="password" formControlName="password" matInput placeholder="รหัสผ่าน">
              </mat-form-field>
              <!-- <mat-form-field class="inputUser">
                <input
                  type="password"
                  matInput
                  placeholder="รหัสผ่าน"
                  formControlName="password"
                />
              </mat-form-field> -->
            </p>

            <div class="button">
              <button type="submit" mat-raised-button color="accent" mat-button>
                เข้าสู่ระบบ
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="Copyright">
      Copyright © 2020 หอพักนักศึกษามหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน นครราชสีมา
    </div>
  </div>

  <footer id="footer">
    <p class="ft">
      <a href="https://www.facebook.com/RMUTI.Dormitory/"
        >สำนักงานหอพักนักศึกษา</a
      >
    </p>
    <span>
      มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน ถนนสุรนารายณ์ ต.ในเมือง อ.เมือง
      จ.นครราชสีมา 30000
    </span>
  </footer>
</div>
