.host {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.mat-form-field {
  width: 100%;
}
.formInput {
  width: 60%;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
}
#page-container {
  position: relative;
  min-height: 100vh;
  background-color: darkgray;
}

#content-wrap {
  padding-bottom: 10%; /* Footer height */
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%; /* Footer height */
  background-color: #222222;
  color: white;
  overflow: hidden;
}
.ft {
  padding-top: 1%;
  margin-bottom: 0;
}
.mat-card {
  width: 500px;
}
.mat-card-subtitle {
  display: flex;
  justify-content: center;
}
.icon {
  width: 200px;
}
.subtitle {
  text-align: center;
  font-size: 18px;
}

.inputField {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  .mat-card {
    width: 90%;
  }
  .icon {
    width: 40%;
  }
  .formInput {
    width: 80%;
  }
  .subtitle {
    text-align: center;
    font-size: 16px;
  }
  #footer {
    font-size: 14px;
  }
  @media only screen and (max-width: 320px) {
    .host {
      padding-top: 50px;
    }
    #footer {
      font-size: 11px;
    }
  }
}
