.containerCT {
  width: 98%;
  padding-left: 1%;
  padding-right: 2%;
}
.example-chip-list {
  width: 100%;
}
.start {
  width: 60%;
  float: left; //ลอยไปอยู่ด้ายซ้าย
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #f7f7f7;
}
mat-chip {
  width: 100%;
  max-width: max-content;
}
// .rule {
//   width: 80%;
//   display: flex;
//   justify-content: center;
// }

@media only screen and (max-device-width: 1280px) {
  .example-chip-list {
    width: 99%;
    padding-left: 1%;
    padding-left: 1%;
  }
  .start {
    width: 100%;
    float: left; //ลอยไปอยู่ด้ายซ้าย
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f7f7f7;
  }
}
