<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
    ><mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="0"
      style="background-color: #f7f7f7;"
    >
      <div class="text-center mt-3">
        <img src="assets/LOGO1.png" alt="RMUTI_LOGO" width="160" />
      </div>
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="['card_data']"
          (click)="rout('card_data/dormitoryStudent')"
          routerLinkActive="router-link-active"
          ><i class="material-icons">
            contact_mail
          </i>
          &nbsp; สร้างบัตรหอพักนักศึกษา
        </a>
        <a
          mat-list-item
          [routerLink]="['room_history']"
          routerLinkActive="router-link-active"
          ><i class="material-icons">
            history_edu
          </i>
          &nbsp; ประวัติการย้ายห้องพัก
        </a>
        <a
          mat-list-item
          [routerLink]="['time_manage']"
          routerLinkActive="router-link-active"
          ><i class="material-icons"> alarm_add </i>&nbsp;
          แก้ไขเวลาการเข้าหอพัก</a
        >
        <a
          target="_blank"
          mat-list-item
          [routerLink]="['/time_add']"
          routerLinkActive="router-link-active"
          ><i class="material-icons"> alarm_on </i>&nbsp;
          บันทึกเวลาเข้าหอพักของนักศึกษา</a
        >
        <a
          mat-list-item
          [routerLink]="['time_stat']"
          routerLinkActive="router-link-active"
          ><i class="material-icons"> assignment </i>&nbsp;
          สรุปผลการเข้าหอพักของนักศึกษา</a
        >
        <a
          mat-list-item
          [routerLink]="['rule_save']"
          (click)="rout('rule_save/dormitoryStudent')"
          routerLinkActive="router-link-active"
          ><i class="material-icons"> block </i>&nbsp;
          บันทึกการกระทำผิดกฏระเบียบหอพัก</a
        >
        <a
          mat-list-item
          [routerLink]="['rule_stat']"
          (click)="rout('rule_stat/dormitoryStudent')"
          routerLinkActive="router-link-active"
          ><i class="material-icons"> assessment </i>&nbsp;
          สรุปผลการกระทำผิดกฏระเบียบหอพัก</a
        >
        <a
          mat-list-item
          [routerLink]="['data_import']"
          (click)="rout('data_import/importExcel')"
          routerLinkActive="router-link-active"
          ><i class="material-icons"> backup </i>&nbsp;
          นำเข้าไฟล์ข้อมูลนักศึกษา</a
        >
        <a
        data-toggle="modal" data-target="#passwordEdit"
          mat-list-item
          routerLinkActive="router-link-active"
          ><i class="material-icons"> vpn_key </i>&nbsp;
          แก้ไขรหัสผ่าน</a
        >
        <a mat-list-item (click)="logOut()"
          ><span class="material-icons"> login </span>&nbsp; ออกจากระบบ</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()" class="bt">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 *ngIf="!mobileQuery.matches" class="example-app-name">
          ระบบตรวจสอบนักศึกษาและคัดกรองบุคคลเข้าหอพักนักศึกษา
        </h1>
        <h1 *ngIf="mobileQuery.matches" class="example-app-name">
          Dormitory Scanner
        </h1>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

-- Modal -->
<div class="modal fade" id="passwordEdit" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">แก้ไขรหัสผ่าน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="host">
      
              <form
                class="formInput"
                [formGroup]="formLogin"
              >
                <p class="inputField">
                  <mat-form-field appearance="outline" color="accent" >
                    <mat-label>รหัสผ่านเดิม</mat-label>
                    <input  type="text" formControlName="passwordOld" matInput placeholder="Ex.123">
                  </mat-form-field>
                </p>
    
                <p class="inputField">
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>รหัสผ่านใหม่</mat-label>
                    <input  type="password" formControlName="passwordNew1" matInput >
                  </mat-form-field>
                </p>

                <p class="inputField">
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
                    <input  type="password" formControlName="passwordNew2" matInput >
                  </mat-form-field>
                </p>

              </form>
 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModalPass" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" (click)="changePassword()" >ยืนยัน</button>
      </div>
    </div>
  </div>
</div>