.contain {
}
.top {
}
.main {
  margin: 1%;
  padding-right: 10px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.table td,
.table th {
  padding: 0.6rem;
  vertical-align: middle;
  height: 57px;
}
.table tr:nth-child(even) {
  background-color: #ffffff;
}
.table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.table tr:hover {
  background-color: #dfdfdf;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 418px;
  }
}

.btn {
  margin-left: 10px;
}
.btn:hover {
  opacity: 0.8;
}
.page {
  text-align: center;
}
.box1 {
  float: left;
  margin-bottom: 10px;
}
.toggle {
  margin-top: 5px;
  margin-left: 10px;
}
.search {
  width: 30%;
  margin-right: 15px;
  padding-top: 2px;
}

@media only screen and (max-width: 480px) {
  .search {
    width: 92%;
  }
}
