/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

@import "~@angular/material/theming";

@include mat-core();
$custom-theme-primary: mat-palette($mat-deep-orange, 500);
$custom-theme-accent: mat-palette($mat-light-blue, 600);
$custom-theme-warn: mat-palette($mat-amber, A200);
$custom-theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);

@include angular-material-theme($custom-theme);
label {
  margin-bottom: 0.08rem;
}
element.style {
  padding-right: none !important;
}
.modal-backdrop {
  display: none !important;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.mat-drawer.mat-drawer-side {
  z-index: 1 !important;
}
.spinner {
  text-align: center;
  display: flex;
  justify-content: center;
}
