<div class="containerContent">
  <button
    type="button"
    mat-raised-button
    color="primary"
    class="uload"
    (click)="fileInput.click()"
  >
    อัพโหลดไฟล์
  </button>
  <button
    mat-raised-button
    class="uload"
    color="primary"
  >
    ส่งออกไฟล์ข้อมูลนักศึกษา
  </button>
  <button
  data-toggle="modal" data-target="#staticBackdrop"
    mat-raised-button
    class="uload"
    color="primary"
    
  >
    ลบข้อมูลทั้งหมด
  </button>
  <input
    hidden
    (change)="onFileChange($event)"
    #fileInput
    type="file"
    id="file"
  />
  <div class="main" *ngIf="datafail.length > 0">
    <ngx-spinner size="medium" color="#ff5722" type="ball-spin-clockwise"
      ><p style="color: white;">Loading...</p></ngx-spinner
    >
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">
            <span>เลขห้อง</span>
          </th>
          <th scope="col">
            <span>รหัสนักศึกษา</span>
          </th>
          <th scope="col">
            <span>ชื่อ - สกุล</span>
          </th>
          <th scope="col"><span>สาขา</span></th>
          <th scope="col">
            <span>เบอร์</span>
          </th>
          <th scope="col">
            <span>ข้อผิดพลาด</span>
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let x of datafail | paginate: { itemsPerPage: 12, currentPage: p } ; let i = index 
          "
        >
          <td>{{ x.room_number }}</td>
          <td>{{ x.std_code }}</td>
          <td>{{ x.nameTitle + x.fname + " " + x.lname }}</td>
          <td>{{ x.branch_code }}</td>
          <td>{{ x.phone }}</td>
          <td *ngIf="x.error[0] == 0" >{{ x.error[1] }} </td>
          <td *ngIf="x.error[0] == 1"><img src="assets\avatar\correct.png" width="36px"></td>

          <td *ngIf="x.error[0] == 0">
            <button
              mat-raised-button
              color="primary"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="
                getStdbeforeInsert(
                  x.std_code,
                  x.nameTitle,
                  x.fname,
                  x.lname,
                  x.branch_code,
                  x.phone,
                  x.room_number,
                  i
                )
              "
            >
              เพิ่มข้อมูลนักศึกษา
            </button>
          </td>
          <td *ngIf="x.error[0] == 1"></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      *ngIf="data != null"
      class="page"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>

<!-- Modal นักศึกษานอก -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          บัตรนักศึกษาหอพัก
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formInsert">
        <div class="modal-body">
          <!-- content -->

          <div class="frame">
            <mat-form-field class="per28">
              <input
                matInput
                formControlName="std_code"
                placeholder="รหัสนักศึกษา"
              />
            </mat-form-field>
            <mat-form-field class="per16">
              <mat-select
                formControlName="nameTitle"
                placeholder="คำนำหน้า"
                (selectionChange)="
                  getRoom(
                    this.formInsert.value.nameTitle,
                    this.formInsert.value.floor,
                    ''
                  )
                "
              >
                <mat-option *ngFor="let x of titleName" [value]="x">{{
                  x
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="per28" >
              <input matInput formControlName="fname" placeholder="ชื่อจริง" />
            </mat-form-field>
            <mat-form-field class="per28">
              <input matInput formControlName="lname" placeholder="นามสกุล" />
            </mat-form-field>
            <mat-form-field  class="per20">
              <mat-select
                formControlName="noLevel"
                placeholder="ระดับวุฒิการศึกษา"
                (selectionChange)="
                  getBranch(
                    this.formInsert.value.faculty_code,
                    this.formInsert.value.noLevel
                  )
                "
              >
                <mat-option *ngFor="let x of levels" [value]="x.noLevel">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field  class="per40">
              <mat-select
                formControlName="faculty_code"
                placeholder="คณะ"
                (selectionChange)="
                  getBranch(
                    this.formInsert.value.faculty_code,
                    this.formInsert.value.noLevel
                  )
                "
              >
                <mat-option
                  *ngFor="let x of Faculty"
                  [value]="x.faculty_code"
                  >{{ x.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field  class="per40">
              <mat-select formControlName="branch_code" placeholder="สาขา">
                <mat-option *ngFor="let x of branch" [value]="x.branch_code">{{
                  x.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field  class="per16">
              <input
                matInput
                formControlName="groupStd"
                placeholder="กลุ่มเรียน"
              />
            </mat-form-field>
            <mat-form-field  class="per16">
              <mat-select
                formControlName="floor"
                placeholder="ชั้น"
                (selectionChange)="
                  getRoom(
                    this.formInsert.value.nameTitle,
                    this.formInsert.value.floor,
                    ''
                  )
                "
              >
                <mat-option *ngFor="let x of floor" [value]="x.floor">{{
                  x.floor
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="per20">
              <mat-select formControlName="room_number" placeholder="ห้องพัก">
                <mat-option *ngFor="let x of room" [value]="x.room_number">{{
                  x.room_number
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="per20">
              <input
                matInput
                formControlName="phone"
                placeholder="เบอร์โทรศัพท์"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            id="closebutton"
            data-dismiss="modal"
          >
            ยกเลิก
          </button>
          <button type="button" class="btn btn-primary" (click)="setDataStd()">
            เพิ่มข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ยืนยันตัวตน</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="host">
      
              <form
                class="formInput"
                [formGroup]="formLogin"
              >
                <p class="inputField">
                  <mat-form-field appearance="outline" color="accent" >
                    <mat-label>ชื่อผู้ใช้งาน</mat-label>
                    <input  type="text" formControlName="username" matInput placeholder="ชื่อผู้ใช้งาน">
                  </mat-form-field>
                  <!-- <mat-form-field class="inputUser">
                    <input
                      type="text"
                      matInput
                      placeholder="ชื่อผู้ใช้"
                      
                    />
                  </mat-form-field> -->
                </p>
    
                <p class="inputField">
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>รหัสผ่าน</mat-label>
                    <input  type="password" formControlName="password" matInput placeholder="รหัสผ่าน">
                  </mat-form-field>
                  <!-- <mat-form-field class="inputUser">
                    <input
                      type="password"
                      matInput
                      placeholder="รหัสผ่าน"
                      formControlName="password"
                    />
                  </mat-form-field> -->
                </p>

              </form>
 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-primary" (click)="onSubmitLogin()" >ยืนยัน</button>
      </div>
    </div>
  </div>
</div>