<div class="formInput">
  <form [formGroup]="formStd_code">
    <form [formGroup]="formStd_code" (keydown.enter)="getStdcode()">
      <mat-form-field class="per35">
        <mat-label><span style="color: red">*</span> รหัสนักศึกษา</mat-label>
        <input matInput formControlName="std_code" (keyup)="getStdcode()" />
      </mat-form-field>

      <mat-form-field *ngIf="nameStudent != null" class="per35">
        <input
          matInput
          placeholder="ชื่อ-นามสกุล"
          value="{{ nameStudent[0].nameStd }}
            "
          disabled
        />
      </mat-form-field>
      <mat-form-field *ngIf="nameStudent != null" class="per10">
        <input
          matInput
          placeholder="เลขห้อง"
          value="{{ nameStudent[0].room_number }}"
          disabled
        />
      </mat-form-field>
      <mat-form-field *ngIf="nameStudent != null" class="per20">
        <input
          matInput
          placeholder="ระดับการศึกษา"
          value="{{ nameStudent[0].level }}"
          disabled
        />
      </mat-form-field>
      <mat-form-field *ngIf="nameStudent != null" class="per35">
        <input
          matInput
          placeholder="คณะ"
          value="{{ nameStudent[0].faculty }}
            "
          disabled
        />
      </mat-form-field>
      <mat-form-field *ngIf="nameStudent != null" class="per35">
        <input
          matInput
          placeholder="สาขา"
          value="{{ nameStudent[0].branch }}
            "
          disabled
        />
      </mat-form-field>
      <mat-form-field *ngIf="nameStudent != null" class="per15">
        <input
          matInput
          placeholder="กลุ่มเรียน"
          value="{{ nameStudent[0].groubStudent }}
            "
          disabled
        />
      </mat-form-field>
      <mat-form-field *ngIf="nameStudent != null" class="per15">
        <input
          matInput
          value="{{ nameStudent[0].phone }}
        "
          disabled
          placeholder="เบอร์โทรศัพท์"
        />
      </mat-form-field>
    </form>
    <mat-form-field class="per50">
      <mat-label><span style="color: red">*</span> กระทำผิดกฏข้อที่</mat-label>
      <mat-select formControlName="rulesBreak">
        <mat-option
          *ngFor="let x of ruleChoice; let i = index"
          [value]="x.rules_number"
          >{{ i + 1 + ". " + x.rules_name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field
      class="per50"
      *ngIf="this.formStd_code.value.rulesBreak == 16"
    >
      <input matInput placeholder="กระทำผิดกฏ" formControlName="other" />
    </mat-form-field>
    <br />
    <table class="dateTime">
      <tr>
        <td>
          <div style="width: 98%">
            <mat-form-field>
              <mat-label
                ><span style="color: red">*</span> วันที่กระทำผิด</mat-label
              >
              <input
                matInput
                [matDatepicker]="picker1"
                formControlName="date_rule"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1> </mat-datepicker>
            </mat-form-field>
          </div>
        </td>
        <td>
          <div class="timeInput">
            <ngx-timepicker-field
              class="ngx-timepicker"
              formControlName="time_rule"
              [format]="24"
              [defaultTime]="'23:11'"
            ></ngx-timepicker-field>
          </div>
        </td>
      </tr>
    </table>

    <br />
    <mat-form-field class="per50">
      <textarea
        matInput
        placeholder="รายละเอียด"
        rows="4"
        formControlName="details"
      ></textarea>
    </mat-form-field>
    <br />
    <button
      [disabled]="formStd_code.invalid"
      (click)="setStd_rule()"
      mat-raised-button
      color="primary"
    >
      บันทึก
    </button>
  </form>
</div>
